*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
img{
    height: 80px;
    border-radius: 50px;
}
table tr td{
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    padding-right: 20px;
}
#logout{
    padding:5px 10px;
    margin-top:8px;
    float: right;
    background-color: rgba(21, 130, 207, 0.772);
    font-weight: bold;
    color: white;
    border:none;
    outline: none;
    border-radius: 3px;
}
#logout:hover{
    background-color: rgba(20, 111, 176, 0.772);
}
